body{
    text-align: center;
}

#maindiv{
margin-left: 35%;
margin-right: 35%;
}

.answerdiv {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

img {
    width: 100px;
    height: 50px;
    margin-top: 20px;
}
button {
    float: right;
    position: absolute;
    bottom: 5%;
}

#time {
    float: right;
    margin-right: 10%;
}