body{
    text-align: center;
    background-image: url("images/earth.gif");
    background-size: cover;
}

#maindiv{
margin-left: 35%;
margin-right: 35%;
}

.answerdiv {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

img {
    width: 100px;
    height: 50px;
    margin-top: 20px;
}
button {
    float: right;
    position: absolute;
    bottom: 5%;
}

#time {
    float: right;
    margin-right: 10%;
    background: white;
    padding: 10px;
}

.answerdiv {
    background: rgba(211, 211, 211, 0.558);
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
}

#grade {
    padding-top: 80px;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 18%;
    margin-bottom: 40%;
    height: 20%;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    position: fixed;
}